

packaging
ipython
jupyter-client
ipykernel
tornado
psutil
traitlets
jupyter-core
decorator
platformdirs
prompt-toolkit
pygments
python-dateutil
asttokens
six
debugpy
nest-asyncio
executing
jedi
parso
pickleshare
stack-data
colorama
wcwidth
pure-eval
backcall
matplotlib-inline
comm
certifi
pytz
tzdata
setuptools
flatbuffers
pip
attrs
isoduration
gunicorn
libclang
pillow
tenacity
click
ipywidgets
nbconvert
jupyter-console
notebook
bleach
pyyaml
plotly
nbformat
qtconsole
cachetools
fonttools
protobuf
jsonschema
beautifulsoup4
rsa
typing-extensions
widgetsnbextension
h5py
matplotlib
markdown
idna
opt-einsum
oauthlib
jinja2
charset-normalizer
threadpoolctl
pyparsing
jupyterlab-widgets
requests
pycparser
google-auth
fastjsonschema
tensorboard
keras
tensorflow
tensorflow-estimator
tensorflow-intel
jupyter-server
soupsieve
werkzeug
flask
qtpy
jsonpointer
termcolor
itsdangerous
markupsafe
pywinpty
python-json-logger
mistune
pandas
grpcio
urllib3
numpy
cffi
wrapt
webcolors
scipy
send2trash
astunparse
blinker
fqdn
websocket-client
pandocfilters
kiwisolver
absl-py
requests-oauthlib
sniffio
arrow
scikit-learn
tinycss2
joblib
uri-template
contourpy
google-auth-oauthlib
jupyter
nbclassic
wheel
tensorflow-io-gcs-filesystem
pyrsistent
terminado
prometheus-client
cycler
ngrok
nbclient
defusedxml
tensorboard-data-server
jupyter-events
webencodings
pyasn1
jax
jupyter-server-terminals
gast
pyasn1-modules
notebook-shim
jupyterlab-pygments
google-pasta
ipython-genutils
rfc3339-validator
rfc3986-validator
ml-dtypes
flask-ngrok
